<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>Avgångstider - SL</div>
<table class="avgangar">
<tr>
<th>Linje - Riktning</th>
<th>Tider</th>
</tr>
<tr>
<td>Grön</td>
<td>kl. 10</td>
</tr>
</table>
<div>Avgångstider - SJ</div>
<table class="avgangar">
<tr>
<th>Linje - Riktning</th>
<th>Tider</th>
</tr>
<tr>
<td>Grön</td>
<td>kl. 10</td>
</tr>
</table>